@{
    ViewData["Title"] = "Music";
}
@model List<Song>

<h1 class="text-white">Archived Track List</h1>
<div class="d-flex justify-content-between">
    <p class="text-white">You can manage archived tracks here</p>
    <p class="text-white">Archived tracks on Soundwave: @Model.Count</p>
</div>

<table class="table table-dark my-4">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">TrackUrl</th>
            <th scope="col">Genre</th>
            <th scope="col">Additional Tags</th>
            <th scope="col">Artist</th>
            <th scope="col">User</th>
            <th scope="col">Public</th>
            <th scope="col">Upload Date</th>
            <th scope="col" class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var song in Model)
        {
            <tr class="align-middle">
                <th scope="row">@song.Id</th>
                <td>@song.Title</td>
                <td>@(!string.IsNullOrEmpty(song.Description) ? song.Description : "-")</td>
                <td>@song.SongUrl</td>
                <td>
                    @if (song.Genre?.Id == 1)
                    {
                        <span>-</span>
                    }
                    else
                    {
                        <span>@song.Genre?.Name</span>
                    }
                </td>
                <td>@(!string.IsNullOrEmpty(song.AdditionalTags) ? song.AdditionalTags : "-")</td>
                <td>@(!string.IsNullOrEmpty(song.ArtistName) ? song.ArtistName : "-")</td>
                <td>@song.User?.Username</td>
                <td>@song.IsPublic</td>
                <td>@song.UploadDate</td>
                <td class="text-center">
                    <a asp-controller="Music" asp-action="RestoreSong" asp-route-id="@song.Id" class="btn btn-outline-success">
                        <i class="bi bi-arrow-counterclockwise"></i>
                    </a>
                    <a asp-controller="Music" asp-action="DeleteSong" asp-route-id="@song.Id" class="btn btn-outline-danger">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>

<div>
    <a asp-controller="Music" asp-action="Index" class="btn btn-outline-light">
        <i class="bi bi-arrow-left"></i>
        <span>Go Back</span>
    </a>  
</div>