@{
    ViewData["Title"] = "Music";
}
@model List<Track>

<h1 class="text-white">Track List</h1>
<div class="d-flex justify-content-between">
    <p class="text-white">You can manage tracks here</p>
    <p class="text-white">Tracks on Soundwave: @Model.Count</p>
</div>

<table class="table table-dark my-4">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">TrackUrl</th>
            <th scope="col">Genre</th>
            <th scope="col">Additional Tags</th>
            <th scope="col">Artist</th>
            <th scope="col">User</th>
            <th scope="col">Public</th>
            <th scope="col">Upload Date</th>
            <th scope="col" class="text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var track in Model)
        {
            <tr class="align-middle">
                <th scope="row">@track.Id</th>
                <td>@track.Title</td>
                <td>@(!string.IsNullOrEmpty(track.Description) ? track.Description : "-")</td>
                <td>@track.TrackUrl</td>
                <td>
                    @if (track.Genre?.Id == 1)
                    {
                        <span>-</span>
                    }
                    else
                    {
                        <span>@track.Genre?.Name</span>
                    }
                </td>
                <td>@(!string.IsNullOrEmpty(track.AdditionalTags) ? track.AdditionalTags : "-")</td>
                <td>@(!string.IsNullOrEmpty(track.ArtistName) ? track.ArtistName : "-")</td>
                <td>@track.User?.Username</td>
                <td>@track.IsPublic</td>
                <td>@track.UploadDate</td>
                <td class="text-center">
                    <a asp-controller="Music" asp-action="ArchiveTrack" asp-route-id="@track.Id" class="btn btn-outline-light">
                        <i class="bi bi-archive-fill"></i>
                    </a>
                </td>
            </tr>
        }

    </tbody>
</table>

<div class="d-flex justify-content-between">
    <a asp-controller="Music" asp-action="Archive" class="btn btn-outline-light">
        <i class="bi bi-archive-fill"></i>
        <span>Archived Tracks</span>
    </a>
    <a asp-controller="Music" asp-action="Create" class="btn btn-outline-success">
        <i class="bi bi-plus-circle"></i>
        <span>Upload New Track</span>
    </a>
</div>